<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../lib/bootstrap.min.css'>
    <title>Time Zone Converter</title>
</head>
<body id="app">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 fs-1">Time Zone Converter</div>
            <div class="col-12 fs-2">Helper you transfer time with time zone you want.</div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <input type="checkbox" v-bind="usingLocalTime">
                        Local Time
                    </div>
                    <div class="col-6">
                        {{localTime}}
                    </div>
                    <div class="col-6 mt-2">
                        <input type="checkbox" v-bind="!usingLocalTime">
                        Input Time
                    </div>
                    <div class="col-6 mt-2">
                        <input type="datetime-local" v-bind="inputTime">
                    </div>
                    <div class="col-6 mt-2">
                        Time Zone
                    </div>
                    <div class="col-6 mt-2">
                        <div class="dropdown">
                            <input class="btn btn-secondary dropdown-toggle" type="dropdown" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" v-model="leftSideChosen">
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li v-for="timezone in leftSideFilteredTimezones" @click="selectTimeZone(timezone,'left')"><a class="dropdown-item">{{timezone}}</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col-6 mt-2">
                        UTC Offset
                    </div>
                    <div class="col-6 mt-2">
                        {{leftUTCOffset}}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button class="mt-2" @click="convertTime">─Convert→</button>
                <button class="mt-2">←Switch→</button>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        Time Zone
                    </div>
                    <div class="col-6">
                        <div class="dropdown">
                            <input class="btn btn-secondary dropdown-toggle" type="dropdown" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" v-model="rightSideChosen">
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                <li v-for="timezone in rightSideFilteredTimezones" @click="selectTimeZone(timezone,'right')"><a class="dropdown-item">{{timezone}}</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col-6 mt-2">
                        UTC Offset
                    </div>
                    <div class="col-6 mt-2">
                        {{rightUTCOffset}}
                    </div>
                    <div class="col-6 mt-2">
                        Time
                    </div>
                    <div class="col-6 mt-2">{{rightSideTime}}</div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="../lib/bootstrap.bundle.min.js"></script>
    <script src="../lib/vue.global.js"></script>
    <script src="../src/timeZone.js"></script>
</body>
</html>